{% extends 'base.html' %}
{% block content%}
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        form{
            height:200px;
            width:300px;
            position: absolute;
            top:30%;
            left:40%
        }
        #alert{
            margin-top:80px;
        }
    </style>
  </head>
<body>
    {% if messages %}<ul>
        {% for message in messages %}<li>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: 
        <div id="alert" class="alert alert-danger">
            <strong>Error! : {{message}} </strong>
        </div>
        {% endif %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}Important: 
        <div id="alert" class="alert alert-success">
            <strong>Success! : {{message}} </strong>
        </div>

        {% endif %}
        {% endfor %}</li></ul>{% endif %}
<form method="post" action="{% url 'add_driver'%}" >

    {% csrf_token %}
    <label>Name: </label><input type="text" name="name" required><br><br>
    <label>driver_id: </label><input type="text" name="driver_id" required><br><br>
    <label>Mobile No:</label><input type="text" name="mobile" size="10" required><br><br>
    <input type="submit" value="Submit">
</form>
{% endblock %}
</body>
