{% extends 'base.html' %}
{% block content %}
<style>
 
    table{
        position:absolute;
        top: 35%;
        left:35%;
        height: 230px;
        background-color: black;
        width: 380px;
        color:aliceblue;
        border-radius: 20px;
    }
    tr,td{
        margin:10px;
        padding: 10px;
    }
    input{
        color:black
    }
img{
    position: absolute;
    top: 35%;
    left:27%;
    height: 100px;
    width: 100px;
     border-radius: 50px;
    position: absolute;
}
</style>
<body >
<div class="forme">
<form  action="edit_profile" method="post" enctype="multipart/form-data">
    {% csrf_token%}
    {% if user.profile_pic %}
    <img  class="pc" src="{{user.profile_pic.url}}" alt="..." />
        {% else %}
   <img class="pc" src="/media/media/default.png" alt="..." />
{% endif %}

    <table  >
    <tr>
        <td><label> Username: </label><input type="text"   name="username" value="{{user.username}}" /></td><br><br>
    </tr>
    <tr>
        <td><label> FirstName: </label><input type="text" name="firstname" value="{{user.firstname}}" /></td><br><br>
    </tr>
    <tr>
    <td><label> LastName: </label><input type="text" name="lastname"   value="{{user.lastname}}" /></td><br><br>
</tr>
<tr>
    <td><label> Mobile No: </label><input type="text" name="phone"  value="{{user.phone}}" /></td><br><br>
</tr>
<tr>
    <td><label>Profile Pic: </label> <input type="file" name="file"  autocomplete="off" > </td>
    
</tr>
<tr>
    <td><input id='update'type="submit" value="Update"></td>
    
    <br>
    <br>
    
</tr>

</table>
</form>
</div>
</body>
{% if messages %} 
		{% for message in messages %}
			{{message}}
		{% endfor %} 
	{% endif %} 
{% endblock %}