{% extends 'index.html' %}
{% block content%}
<style>
    .box{
        margin-top: 100px;
        height:360px;
        position: absolute;
        top:15%;
        left:37%;
        width:320px;
        background-color: black;
        color:white;
        border-radius:10px;
        text-align: center;
    }
    select,input{
        color:black;
        background-color: white;
    }
       
</style>
<body>
<form class="box" action="add_new_bus" method="post">
    {%csrf_token%}
    <h1>Add New Bus</h1><br><br>
    bus No:<input type="text" name="bus_no" max="6"><br><br>
    Bus_type: <select name="bus_type">
        <option>Super-Luxury Ac</option>
        <option>Super-Luxury Non-Ac</option>
        <option>Luxury Ac</option>
        <option>Luxury Non-Ac</option>
        <option>Garuda Ac</option>
        <option>Garuda  Non-Ac</option>
        <option>Ultra-Deluxe Ac</option>
        <option>Ultra-Deluxe Non-Ac</option>
    </select><br><br>
    seat Type:
    <select name="seat_type">
        <option>Seater</option>
        <option>Semi-Sleeper</option>
        <option>Sleeper</option>
    </select><br><br>
    <input type="submit" value="Submit">

</form>
</body>
{% endblock %}