{% extends 'base.html' %}
{% block content %}
<style>
    .box{
        margin-top: 100px;
        height:360px;
        position: absolute;
        top:15%;
        left:37%;
        width:320px;
        background-color: black;
        color:white;
        border-radius:10px;
        text-align: center;
       
    }
    ul{
        list-style-type:none;
    }
    #link{
        margin-top: 60px;
        border: 1px solid white;
    }
</style>
<div class="box">
    
    <h1>Driver Deatils of {{driver.name}}</h1>
    <ul>
        
        <li>Driver Name : {{driver.name}}</li>
        <li>Driver id : {{driver.driver_id}}</li>
        <li>Driver Mobile : {{driver.mobile}}</li>
    
    <h3>Assigned Buses Are: </h3>
    {% for bus in driver_buses %}
    From-To : {{bus.origin}} - {{bus.destination}}<br>
    Bus No : {{bus.bus_no}}<br>
    {% endfor %}

    <a id="link" href="{%url 'admin_desk'%}">Back to driver details</a>
</ul>
</div>
{% endblock %}