<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>Title</title>
    {% endif %}
</head>

<body>
    <nav>
        <li><a href="{% url 'create'%}">Create</a></li>
        <li><a href="{% url 'display'%}">Display </a></li>
        <li><a href="#">INFO</a></li>
        <li><a href="#">CONTACT</a></li>
    </nav>
    {% block content %}

    {% endblock %}
</body>

</html>