{% extends 'header.html'%}
{% block content%}
{% if msg %}
<h1>{{msg}}</h1>
{% endif %}
{% if item %}
<tr>
    <td>{{item.id}}</td>
    <td>{{item.name}}</td>
    <td>{{item.age}}</td>
    <td><a href={% url 'delete' item.id %}>DELETE</a></td>
</tr>
{% endif %}

{% if items %}
<table>
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>Delete</th>
        <th>Detail</th>
    </tr>
    {% for item in items %}
    <tr>
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.age}}</td>
        <td><a href="delete/{{item.id}}">DELETE</a></td>
        <td><a href="display/{{item.id}}">DISPLAY</a></td>
    </tr>
    {% endfor %}
</table>
{% endif %}
{% endblock %}